<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10 center-white">

		<div class="banner">
		</div>
		<div class="clip">
	    	<%= image_tag("clip.png") %>
		</div>
		<div class="banner-h1">
	    	<h1>&nbsp;&nbsp;&nbsp;<%= title "Contact Us" %></h1>
		</div>
		<br/>
		<br/>
		<br/>
		<br/>
		<div class="contact-us-left">
			<p>24-Hour Service
			</p>

			<p><b>Farrar Inc.</b>
			<br/>15 Avon St.
			<br/>Keene, NH 03431-3596</p>
			<br/>
			<div class="contact-us-email">
				For general questions, email:
				<br/>
				<h3>info@fafarrar.com</h3>
			</div>
			<br/>
			<br/>
		</div>
		<div class="contact-us-right">
			<p>Telephone: 603-352-4316</p>
			<p>Toll Free: 866-708-1089</p>
			<p>Fax: 603-357-9476</p>
		</div>
		<div class="contact-image">
			<%= image_tag("FIELD SERVICE1.jpg") %>
		</div>
	</div>
	<div class="col-md-1"></div>

</div>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10 directions-wrapper">
		<div class="banner directions-banner dark-blue-grad">
		  </div>
		  <div class="banner-h1">
		    <h1 id="brands">&nbsp;&nbsp;&nbsp;Directions</h1>
		  </div>
		  <br/>
		  <br/>
		<div class="map" style="margin:0px;padding:0px;overflow:hidden">
			<iframe style="overflow:hidden;height:600px;width:100%" height="600" width="100%"
			  frameborder="0" style="border:0"
			  src="https://www.google.com/maps/embed/v1/place?key=<%= Rails.application.secrets.google_maps_key %>&q=Frederick+A+Farrar+Inc" allowfullscreen>
			</iframe>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
<br/>
<div class="row">

	<div class="col-md-1"></div>
	<div class="col-md-10 center-white line-cards-wrapper-bg">
		<div class="sliver"></div>
	<div class="line-cards-wrapper">
		<br/><h3>Line Cards</h3>
		<div class="line-cards">
		<script language="javascript" type="text/javascript">
            function printImage(urlstr) {
                var win = window.open(urlstr, "_blank");
				win.onload = function() { win.print(); }
            }
       </script>
			<br/>
		 	<%= link_to "Electro Mechanical Services", "/assets/pdfs/linecard-ems.jpg" %>
			<a href="#" class= "print" onclick="printImage('/assets/pdfs/linecard-ems.jpg')">PRINT</a>
		 	<br/>
			<%= link_to "Energy Efficient Motors", "/assets/pdfs/linecard-eem.jpg" %>
			<a href="#" class= "print" onclick="printImage('/assets/pdfs/linecard-eem.jpg')">PRINT</a>
			<br/>
			<%= link_to "Servo Motor Repair", "/assets/pdfs/linecard-smr.jpg" %>
			<a href="#" class= "print" onclick="printImage('/assets/pdfs/linecard-smr.jpg')">PRINT</a>
			<br/>
			<%= link_to "Motor/Pump Repair", "/assets/pdfs/linecard-mpr.jpg" %>
			<a href="#" class= "print" onclick="printImage('/assets/pdfs/linecard-mpr.jpg')">PRINT</a>
			<br/>
			<%= link_to "Pump Services", "/assets/pdfs/linecard-ps.jpg" %>
			<a href="#" class= "print" onclick="printImage('/assets/pdfs/linecard-ps.jpg')">PRINT</a>
			<br/>
			<%= link_to "Field Services", "/assets/pdfs/linecard-fs.jpg" %>
			<a href="#" class= "print" onclick="printImage('/assets/pdfs/linecard-fs.jpg')">PRINT</a>
			<br/>
			<%= link_to "VFD Brands Available", "/assets/pdfs/linecard-vfd.jpg" %>
			<a href="#" class= "print" onclick="printImage('/assets/pdfs/linecard-vfd.jpg')">PRINT</a>

			<br/>
			<br/>
			<br/>
		</div>
	</div>
	</div>
	<div class="col-md-1"></div>

</div>