<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-2 sidebox">

		<div class="ems-images">
			<br/><%= image_tag("ELECTRO MECHANICAL1.jpg") %>
			<br/><br/><%= image_tag("ELECTRO MECHANICAL2.jpg") %>
			<br/><br/><%= image_tag("ELECTRO MECHANICAL3.jpg") %>
			<br/><br/><%= image_tag("ELECTRO MECHANICAL4.jpg") %>
			<br/><br/>
		</div>
	
	</div>
	<div class="col-md-8 center-white">
		<h2><%= title "Electro/Mechanical Services" %></h2>
		<p><b>Motor Repair, Generator and Rewinding Capabilities</b></p>

		<p>Our state-of-the-art shop features a fully-stocked parts and wire inventory and is staffed by fully trained technicians in order to provide quick turnaround on your most critical repairs.  Our services are complemented by a fully-equipped service fleet available 24-hours, 7-days to handle any emergency.</p>
		<table class="ems">
			<tr>
				<td>
				<h3>Electric Motors</h3>
				</td>
				<td>
				<h3>Field Service</h3>
				</td>
			</tr>
			<tr>
				<td>
				<ul>
					<li><font color="black">Fractional through 3,000 horse power</font></li>
					<li><font color="black">Voltages from 115 through 4,160</font></li>
					<li><font color="black">AC and DC Factory authorized repair for Baldor, General Electric, A. O. Smith, Siemens, Worldwide (Hyundai), Fasco, U.S. Motors & others</font></li>
					<li><font color="black">AC Drives: Yaskawa, Danfoss, Toshiba, TECO-Westinghouse</font></li>
					<li><font color="black">Commercial, construction, industrial, water treatment and health care applications</font></li>
				    
				</ul>
				</td>
				<td>
				<ul>
					
					<li><font color="black">Laser Alignment</font></li>
					<li><font color="black">Dynamic Field Balancing</font></li>
					<li><font color="black">Vibration Identification</font></li>
					<li><font color="black">IR Testing</font></li>
					<li><font color="black">On-Site Corrections</font></li>
					<li><font color="black">Reduce Machinery Downtime</font></li>
					<li><font color="black">AC/DC Drive Trouble Shooting</font></li>
					<li><font color="black">VFD Maintenance</font></li>
					<li><font color="black">Renewal Parts</font></li>

				</ul>
				</td>
			</tr>

			<tr>
				<td>
				<h3>Pump Repair</h3>
				</td>
				<td>
				<h3>Generator Repair</h3>
				</td>
			</tr>
			<tr>
				<td>
				<ul>
					<li><font color="black">Water Pump Repair</font></li>
					<li><font color="black">Chemical Pumps</font></li>
					<li><font color="black">Sewer Pumps</font></li>
					<li><font color="black">Re-Circulating</font></li>
					<li><font color="black">Waste Water treatment pump repair</font></li>
					<li><font color="black">High Pressure pumps</font></li>
					<li><font color="black">Slurry pump repair</font></li>
					<li><font color="black">Grinder Pumps</font></li>
				</ul>
				</td>
				<td>
				<ul>
					
				    <li><font color="black">Standby</font></li>
				    <li><font color="black">Portable</font></li>
				    <li><font color="black">Phase Converters</font></li>
				    <li><font color="black">RV</font></li>
				    <li><font color="black">Factory authorized repair center</font></li>

				</ul>
				</td>
			</tr>
		</table>
			<br/>

			<p><b>Farrar has a wide range of capabilities in terms of troubleshooting, testing and repairing, which ensure that your motor is returned to you operating according to its manufacturer's specifications.</b></p>

			<ul>

				<li><font color="black">Vibration analysis</font></li>
				<li><font color="black">Electrical apparatus repair - AC / DC motors</font></li>
				<li><font color="black">Winding surge testing</font></li>
				<li><font color="black">Predictive motor maintenance</font></li>
				<li><font color="black">Load testing and motor modification</font></li>
				<li><font color="black">Expert repair service on electrical drives and assemblies, including a wide range of solid state drive products, power supplies, regulators, gearboxes and controls.</font></li>

			</ul>
			<br/>
			<br/>
	</div>
</div>