<div class="heading">
<h3 class="heading">
Committed to serving you promptly, efficiently and honestly.
</h3>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "carousel-alt-3.png" %>
    </div>

    <div class="item">
      <%= image_tag "carousel-alt-2.png" %>
    </div>

    <div class="item">
      <%= image_tag "carousel-alt-1.png" %>
    </div>

  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1>Our Capabilities</h1>
    <p>
       At Farrar, you will find that we work with our valued customers to beat deadlines, locate the causes of machinery failure, complete emergency motor repairs, and keep motors in top operating condition to prevent breakdowns. But, most importantly, all of us at FARRAR, Inc. share a commitment to serving you promptly, efficiently and honestly.  I invite you to call Matt Farrar, President, toll-free at (866) 708-1089 or email him with any questions or problems you have concerning servo motor repair, electric motor repair, variable frequency drives, pumps, generators or electro-mechanical equipment.
    </p>
    <br>

    <ul>
<li>AC Servo Motor Repairs &amp; DC Servo Motor Repairs, (including those fitted to robots and machine tools)</li><li>

Absolute &amp; Linear Encoder Servo Repairs</li>

<li>
Electrical Mechanical Apparatus Services</li>

<li>
AC &amp; DC New Motor Replacement</li>
<li>Pump Repair</li>
<li>
Water/Chemical/Vacuum</li>
<li>
Generator Repair</li>
<li>
Motor Controls, Variable Frequency Drives, Reduced Voltage Starters</li>
<li>
Controls Engineering, Panel Fabrication, Design and Construction</li>
<li>
Electric Motors: Baldor, General Electric, A. O. Smith, Siemens, 
Worldwide (Hyundai), Fasco, U.S. Motors &amp; others</li>
<li>
AC Drives: Yaskawa, Danfoss, Toshiba, Teco, Westinghouse</li>
<li>
DC Drives: Baldor</li>
<li>Pro-Active Maintenance Services and Comprehensive Total Maintenance Packages</li>
<span style="color: black; ">
<li>Site Teams for Electrical and Mechanical Equipment Removal and Re-installation</li>
<li>Infra-Red Scanning</li>
<li>Powder Coating For Corrosive Environments</li>
<li>Flygt Pumps Service Center</li>
</span></ul>


  </div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5 homebox">
    <div class="h2-wrapper">
      <h2>Service Center</h2>

      <a href="<%= electro_mech_url %>">Electro/Mechanical Services</a><br>
      <a href="<%= vfd_url %>">Variable Frequency Drives</a><br>
      <a href="#">Rewinding</a><br>
      <a href="<%= servo_url %>">Servo Motor Repairs</a><br>
    </div>
  </div>

  <div class="col-md-5 homebox">
    <div class="h2-wrapper">
      <h2>Sales Center</h2>

      <a href="<%= motors_url %>">Electric Motors</a><br>
      <a href="<%= vfd_url %>">Variable Frequency Drives</a><br>
      <a href="#">Pumps</a><br>
      <a href="#">Generators</a><br>
      <a href="#">Gearboxes</a><br>
    </div>
  </div>
  <div class="col-md-1"></div>

</div>