<%# description 'Frederick A Farrar, Inc. electric/mechanical services, motor distribution and motor repair' %>
<% description 'totallyuniquestring descriptionstring' %>
<div class="row">

  <div class="heading">
  <h3 class="heading">
  Committed to serving you promptly, efficiently and honestly.
  </h3>
  </div>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag( "HOME 3.jpg", alt: "Delivery and moving services for large motors and motor parts") %>
      </div>

      <div class="item">
        <%= image_tag("HOME 2.jpg", alt: "75 years of Excellence in the repair shop") %>
      </div>

      <div class="item">
        <%= image_tag("HOME 1.jpg", alt: "Scheduled professional motor inspection") %>
      </div>

      <div class="item">
        <%= image_tag("HOME 4.jpg", alt: "Konecranes mechanical equipment") %>
      </div>

      <div class="item">
        <%= image_tag("HOME 5.jpg", alt: "Electric motor warehouse for testing motors and drives") %>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 center-white home">
      <div class="banner dark-blue-grad">
      </div>
      <div class="clip dark-blue">
        <%= image_tag("clip-light.png") %>
      </div>
      <div class="banner-h1">
        <h1>&nbsp;&nbsp;&nbsp;<%= title "Home" %></h1>
      </div>
      <br/>
      <br/>
      <br/>
      <br/>
      <p>
         At Farrar, you will find that we work with our valued customers to beat deadlines, locate the causes of machinery failure, complete emergency motor repairs, and keep motors in top operating condition to prevent breakdowns. But, most importantly, all of us at FARRAR, Inc. share a commitment to serving you promptly, efficiently and honestly.
      </p>
      <p>I invite you to call Matt Farrar, President, toll-free at 866.708.1089 or email him with any questions or problems you have concerning servo motor repair, electric motor repair, variable frequency drives, pumps, generators or electro-mechanical equipment.
      </p>
      <br/>
      <div class="easa-wrapper">
      <ul>
  <%= image_tag("easa.jpg", alt: "Member EASA, The Electro-Mechanical Authority") %>
  <li><font style="color: black;">AC Servo Motor Repairs &amp; DC Servo Motor Repairs, (including those fitted to robots and machine tools)</font></li><li><font style="color: black;">

  Absolute &amp; Linear Encoder Servo Repairs</font></li>

  <li><font style="color: black;">
  Electrical Mechanical Apparatus Services</font></li>

  <li><font style="color: black;">
  AC &amp; DC New Motor Replacement</font></li>
  <li><font style="color: black;">Pump Repair</font></li>
  <li><font style="color: black;">
  Water/Chemical/Vacuum</font></li>
  <li><font style="color: black;">
  Generator Maintenance & Repair</font></li>
  <li><font style="color: black;">
  Motor Controls, Variable Frequency Drives, Reduced Voltage Starters</font></li>
  <li><font style="color: black;">
  Controls Engineering, Panel Fabrication, Design and Construction</font></li>
  <li><font style="color: black;">
  Electric Motors: Baldor, General Electric, A. O. Smith, Siemens, 
  Worldwide (Hyundai), Fasco, U.S. Motors, and many others!</font></li>
  <li><font style="color: black;">
  AC Drives: Yaskawa, Danfoss, Toshiba, Teco, Westinghouse</font></li>
  <li><font style="color: black;">
  DC Drives: Baldor</font></li>
  <li><font style="color: black;">Pro-Active Maintenance Services and Comprehensive Total Maintenance Packages</font></li>
  <span style="color: black; ">
  <li><font style="color: black;">Site Teams for Electrical and Mechanical Equipment Removal and Re-installation</font></li>
  <li><font style="color: black;">Infra-Red Scanning</font></li>
  <li><font style="color: black;">Powder Coating For Corrosive Environments</font></li>
  <li><font style="color: black;">Flygt Pumps Service Center</font></li>
  </span></ul>


  </div>
  <br/>
  <br/>



    </div>
    <div class="col-md-1"></div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 center-white line-cards-wrapper-bg home">
      <div class="sliver"></div>
      <div class="line-cards-wrapper home">
        <div class="home-item servicec">
          <h2>Service Center</h2>

          <a href="<%= electro_mech_url %>">Electro/Mechanical Services</a><br/>
          <a href="<%= vfd_url %>">Variable Frequency Drives</a><br/>
          <a href="#">Motor Rewinding</a><br/>
          <a href="<%= servo_url %>">Servo Motor Repairs</a><br/>
          <a href="#">Pump Rebuilds</a><br/>
          <a href="#">Gearbox Rebuilds</a><br/>
        </div>
        <div class="home-item salesc">
          <h2>Sales Center</h2>

          <a href="<%= motors_url %>">Electric Motors</a><br>
          <a href="<%= vfd_url %>">Variable Frequency Drives</a><br>
          <a href="#">Pumps</a><br>
          <a href="#">Gearboxes</a><br>
        </div>
        <div class="home-item im">
          <%= image_tag("FIELD SERVICE3.jpg", alt: "rookie on the job") %>
        </div>
      </div>

    </div>

    <div class="col-md-1"></div>

  </div>
</div>