<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-2 sidebox">

		<div class="ems-images">
			<br/><%= image_tag("em-1.jpg") %>
			<br/><br/><%= image_tag("em-2.jpg") %>
			<br/><br/><br/><br/><br/>
		</div>
	
	</div>
	<div class="col-md-8 center-white">		
		<h2 class="motors"><%= title "Electric Motors" %></h2>


		<p>Through the years, FARRAR, Inc. has brought together a high-quality mix of product lines, which has created a diversified, yet complementary system of equipment and parts to serve all your electro-mechanical needs. Our staff is ready to deliver on-time and competitive quotes and to provide exceptional service after the sale for all of the high quality manufacturer’s lines we carry, including the industry’s broadest line of energy-efficient electric motors and adjustable speed drives.</p>

		<p>
		Our motor repair and rewinding shop is state-of-the-art and features a fully-stocked parts inventory to provide quick turnaround on your most critical repairs. All work is performed by trained technicians who are supported by a fully-equipped service fleet available 24-hours-a-day, 7-days-a-week to handle any emergency.</p>
		<br/>
		<br/>
		<br/>
	</div>
</div>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10 center-white vfd">
		<div class="banner vfd dark-blue-grad">
		  </div>
		  <div class="clip dark-blue">
		    <%= image_tag("clip-light.png") %>
		  </div>
		  <div class="banner-h1">
		    <h1 id="brands">&nbsp;&nbsp;&nbsp;Electric Motor Brands</h1>
		  </div>
		  <br/>
		  <br/>
		  <br/>
		  <br/>
		  <p>Fractional through 10,000+ horse power (AC / DC)</p>
		  <br/>
		  <div class="motor-brands-wrapper">
		  <table class="motor-brands">
		  	<tbody>
			  <tr>
			  	<td><%= image_tag("brand-1.jpg") %>
			  	</td>
			  	<td class="text">Baldor
			  	</td>
			  </tr>
			  <tr>
			  	<td><%= image_tag("brand-2.jpg") %>
			  	</td>
			  	<td class="text">General Electric
			  	</td>
			  </tr>
			  <tr>
			  	<td><%= image_tag("brand-3.jpg") %>
			  	</td>
			  	<td class="text">A.O. Smith
			  	</td>
			  </tr>
			  <tr>
			  	<td><%= image_tag("brand-4.jpg") %>
			  	</td>
			  	<td class="text">Siemens
			  	</td>
			  </tr>
		    </tbody>
		  </table>
		  <table class="motor-brands">
			<tbody>  
			  <tr>
			  	<td><%= image_tag("brand-6.jpg") %>
			  	</td>
			  	<td class="text">Fasco
			  	</td>
			  </tr>
			  <tr>
			  	<td><%= image_tag("brand-5.jpg") %>
			  	</td>
			  	<td class="text">WorldWide
			  	</td>
			  </tr>
			  <tr>
			  	<td><%= image_tag("brand-7.jpg") %>
			  	</td>
			  	<td class="text">Marathon
			  	</td>
			  </tr>
			  <tr>
			  	<td><%= image_tag("brand-8.gif") %>
			  	</td>
			  	<td class="text">Teco-Westinghouse
			  	</td>
			  </tr>
			</tbody>
		  </table>
		  </div>
		  <br/>
		  <br/>
	</div>
	<div class="col-md-1"></div>
</div>