<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-2 sidebox">

		<div class="ems-images">
			<br/><%= image_tag("sm-2.jpg") %><br/><br/>
			<br/><%= image_tag("sm-3.jpg") %><br/><br/>
			<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
		</div>
	
	</div>
	<div class="col-md-8 center-white">		
		<h2 class="sm">Servo Motor Repair</h2>


		<p>Farrar, Inc. repairs a broad range of motors and has the experience to recondition and maintain all types of servos motors and componentry, including servo motor controls, brushless servo motors, and rewind stators to <b>Fanuc, Peerless, Baldor, Kollmorgen, Mitsubishi, Heidenhain Endat, Kawasaki, Sumtak/Sanyo Denki Allen-Bradley and Yaskawa </b>factory specifications.</p>
		<br/>
		<div class="sm-body-wrapper">
		<%= image_tag("sm-1.jpg") %>
		</div>
		<br/>
		<p>At Farrar, we begin with a thorough evaluation of your Servo motor before making recommendations and scheduling repairs. Farrar can also suggest value-added recommendations in addition to your Servo repair, all while completing our work and delivering your motor back to you in the allotted time or faster.</p>
		<p>Our state-of-the-art shop is staffed by comprehensively trained technicians who are supported by modern equipment and a fully-stocked parts inventory to ensure quick turnaround on your most critical repairs.</p>

	</div>
	<div class="col-md-1"></div>
</div>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10 center-white vfd">
		<div class="banner vfd dark-blue-grad">
		  </div>
		  <div class="clip dark-blue">
		    <%= image_tag("clip-light.png") %>
		  </div>
		  <div class="banner-h1">
		    <h1 id="brands">&nbsp;&nbsp;&nbsp;Servo Motor Brands</h1>
		  </div>
		  <br/>
		  <br/>
		  <br/>
		  <br/>
		  <p>Ask about our selection of Variable Frequency Drives, Spindle Drives &amp; Motors, AC Drives - HVAC Drives and DC Drives.</p>
		  <br/>
		  <div class="motor-brands-wrapper">
		  <table class="motor-brands">
		  	<tbody>
			  <tr>
			  	<td><%= image_tag("sbrand-1.gif") %>
			  	</td>
			  	<td class="text">Allen-Bradley
			  	</td>
			  </tr>
			  <tr>
			  	<td><%= image_tag("sbrand-2.gif") %>
			  	</td>
			  	<td class="text">Peerless
			  	</td>
			  </tr>
			  <tr>
			  	<td><%= image_tag("sbrand-3.png") %>
			  	</td>
			  	<td class="text">Yaskawa
			  	</td>
			  </tr>
			  <tr>
			  	<td><%= image_tag("sbrand-4.jpg") %>
			  	</td>
			  	<td class="text">Kollmorgen
			  	</td>
			  </tr>
			  <tr>
			  	<td><%= image_tag("sbrand-5.jpg") %>
			  	</td>
			  	<td class="text">Fanuc
			  	</td>
			  </tr>
			  <tr>
			  	<td><%= image_tag("sbrand-6.jpg") %>
			  	</td>
			  	<td class="text">CMC
			  	</td>
			  </tr>
			  <tr>
			  <td>And Many More
			  </td>
			  </tr>
		    </tbody>
		  </table>
		  <ul class="sm">
		  	<li><font style="color: black;">Servo Motor Repair</font></li>
		  	<li><font style="color: black;">Servo Motor Controls</font></li>
		  	<li><font style="color: black;">Brushless Servo Motors</font></li>
		  	<li><font style="color: black;">Electric Motor Repair &amp; Rewinding</font></li>
		  	<li><font style="color: black;">Variable Frequency Drives</font></li>
		  	<li><font style="color: black;">Absolute &amp; Linear Encoder Testing</font></li>
		  </ul>
		  </div>
	</div>
	<div class="col-md-1"></div>
</div>