<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-2 sidebox">

		<div class="ems-images">
			<br/><%= image_tag("ems-4.jpg") %><br/><br/>
			<br/><%= image_tag("vfd-1.jpg") %><br/><br/>
			<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
		</div>
	
	</div>
	<div class="col-md-8 center-white">		
		<h2>VFD Assistance</h2>


		<p> With variable-frequency drives (VFD) getting smaller and less expensive, their use in HVAC systems to control air-handler fans, cooling tower fans, and pumps for both heating and cooling systems, has been rapidly growing.  It is important, however, to remember that VFDs only save energy if they are properly controlled and integrated into building-automation systems. Integration issues, including network protocols, hardware connections, and trending all need to be considered during the design phase.</p>

		<p>Farrar can offer a full range of VFD products and services, from project concept and full turn-key design and coordination to start-up, including engineering, programming and  documentation. Farrar also applies its long-time motor repair commitment to following common sense logic and employing state-of-the-art tools and equipment to its repair of variable frequency drives.</p>

		<p>Farrar troubleshoots the applications, from wiring to loads, before looking at drives themselves, which saves you time and money!</p>
		

		<p>
			<span class="vfd-list">Industrial AC &amp; DC Drives</span><br/>
			Adjustable Frequency Drives
		</p>
		<p>
			<span class="vfd-list">Commercial HVAC Drives</span><br/>
			VFDs For Building Automation Systems
		</p>
		<p>
			<span class="vfd-list">Spindle Drives And Motors</span><br/>
			Designed For High-Speed Spindles
		</p>
		<p>
			<span class="vfd-list">Servo Systems And Motor Controllers</span><br/>
			Repair and Sales of Brushless AC Servos, Digital Amplifiers, Linear Motors, Direct Drive Motors and Servo Gear Motors
		</p>
		<p>
			<span class="vfd-list">Low Voltage Industrial Controls</span><br/>
			Reduced Voltage Starters, Elements, Relays, Proximity Sensors, Push-Buttons, and Other Control Devices
		</p>
	</div>
	<div class="col-md-1"></div>
</div>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10 center-white vfd">
		<div class="banner vfd dark-blue-grad">
		  </div>
		  <div class="clip dark-blue">
		    <%= image_tag("clip-light.png") %>
		  </div>
		  <div class="banner-h1">
		    <h1 id="brands">&nbsp;&nbsp;&nbsp;VFD Brands Available</h1>
		  </div>
		  <br/>
		  <br/>
		  <br/>
		  <br/>
		  <p>Contact <a href="<%= contact_url %>">Inside Sales</a> about our selection of Variable Frequency Drives, Spindle Drives &amp; Motors, AC Drives - HVAC Drives and DC Drives.</p>
		  <br/>
		  <div class="vfd-imgs">
			  <div class="vfd-img yask">
				  <%= image_tag("vfd-2.png") %>
				  <div class="vfd-span"><span>HVAC</span></div>
			  </div>
			  <div class="vfd-img">
				  <%= image_tag("vfd-3.png") %>
				  <div class="vfd-span"><span>Industrial</span></div>
			  </div>
			  <div class="vfd-img">
				  <%= image_tag("vfd-4.png") %>
			  	  <div class="vfd-span"><span>Water/Waste Water</span></div>
			  </div>
			  <div class="vfd-img">
				  <%= image_tag("vfd-5.png") %>
			  	  <div class="vfd-span"><span>Harmonic Filter Solutions</span></div>
			  </div>
			  <br/>
		  </div>
		  <ul class="vfd">
			  <li><font style="color: black;">Quick Quotation Turnaround</font></li>
			  <li><font style="color: black;">Expert Engineering Support</font></li>
			  <li><font style="color: black;">Certified Start-up</font></li>
			  <li><font style="color: black;">HVAC Systems</font></li>
			  <li><font style="color: black;">Energy Retrofits</font></li>
			  <li><font style="color: black;">Design/Build Projects</font></li>
			  <li><font style="color: black;">Payback Analysis</font></li>
			  <li><font style="color: black;">Configured Drives</font></li>
			  <li><font style="color: black;">Preventative Maintenance</font></li>
			  <li><font style="color: black;">Energy Efficient Motors</font></li>
			  <li><font style="color: black;">IEEE Harmonic Analysis</font></li>
		  </ul>
		  <br/>
		  <div class="line-cards">
			&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Download Line Card", "/assets/pdfs/vfd.pdf" %>
		  </div>
		  <br/>
		  <br/>
		  <br/>
		  <br/>
		  <br/>
		  <br/>
	</div>
	<div class="col-md-1"></div>
</div>