<!DOCTYPE html>
<html>

<head>
  <title>Motorshop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="//www.google-analytics.com/analytics.js" async=""></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic' rel='stylesheet' type='text/css'>
  
  <!-- jQuery fallback !-->
  <script>
    if (typeof jQuery === 'undefined') {
      document.write(unescape('%3Cscript%20src%3D%22%2Fassets%2Fjquery-3.0.0.min.js%22%3E%3C%2Fscript%3E'));
    }
  </script>
</head>

<body>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_url %>">
        <div class="logo">
          <%= image_tag("farrar-logo-sm.png") %>
        </div>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
      <ul class="nav navbar-nav">
        <li class="nav-slant">
          <a>&nbsp;</a>
        </li>
        <li class="dropdown head">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SERVICES</a>
          <ul class="dropdown-menu">
            <li><a href="<%= electro_mech_url %>">Electro/Mechanical Services</a></li>
            <li><a href="<%= vfd_url %>">Variable Frequency Drives</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Rewinding</a></li>
            <li><a href="<%= servo_url %>">Servo Motor Repairs</a></li>
          </ul>
        </li>
        <li class="dropdown head">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SALES</a>
          <ul class="dropdown-menu">
            <li><a href="<%= motors_url %>">Electric Motors</a></li>
            <li><a href="<%= vfd_url %>">Variable Frequency Drives</a></li>
            <li><a href="#">Pumps</a></li>
            <li><a href="#">Generators</a></li>
            <li><a href="#">Gearboxes</a></li>
          </ul>
        </li>
        <li class="head"><a href="<%= about_url %>">ABOUT US</a></li>
        <li class="head"><a href="<%= contact_url %>">CONTACT</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="linedivider"></div>

<div class="container">
<div class="row">

<%= yield %>


</div>
</div>
<br>
<br>
<div class="linedivider-2"></div>
<div class="footer-wrapper">
<div class="footer">
  <div class="container">
  <div class="row">
  <br>
  <br>
  <br>
  <div class="footer-text">
    <p>
    © 2016 Farrar Inc., Electric Motor Repair & Rewinding
    </p>
    <p>
Electro/Mechanical Services Rewinding Pumps Gearboxes Generators Servo Motor Repairs Variable Frequency Drives
</p>
We service the following Areas - New Hampshire, Massachusetts, Vermont, Maine, Connecticut, New York
  </p>
  </div>
  <div class="footer-text">

  </div>
  <%= image_tag("creditcardlogos.GIF") %>
</div>
</div>
</div>
</div>

</body>
</html>
