<!DOCTYPE html>
<html>

<head>

  <%= display_meta_tags site: 'Farrar Inc. ' %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="//www.google-analytics.com/analytics.js" async=""></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic' rel='stylesheet' type='text/css'>
  
  <!-- jQuery fallback !-->
  <script>
    if (typeof jQuery === 'undefined') {
      document.write(unescape('%3Cscript%20src%3D%22%2Fassets%2Fjquery-3.0.0.min.js%22%3E%3C%2Fscript%3E'));
    }
  </script>
</head>

<body>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="nav navbar-header">
      <a class="navbar-brand" href="<%= root_url %>">
        <div class="logof">
          <%= image_tag("farrar-logo-sm.png") %>
        </div>
        <div class="nav-slant">
        </div>
      </a>
      <!-- <ul class="navbar-left"> -->
      <!-- </ul> -->
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
      <div class="nav-buffer"></div>
      <ul class="nav navbar-nav">
        <li class="dropdown head">
          <a href="#" class="dropdown-toggle <%= action_active?("electro_mech", "vfd", "servo") %>" data-toggle="dropdown" role="button" aria-haspopup="true" >SERVICES</a>
          <ul class="dropdown-menu">
            <li><a href="<%= electro_mech_url %>">Electro/Mechanical Services</a></li>
            <li><a href="<%= servo_url %>">Servo Motor Repairs</a></li>
          </ul>
        </li>
        <li class="dropdown head">
          <a href="#" class="dropdown-toggle <%= action_active?("motors") %>" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SALES</a>
          <ul class="dropdown-menu">
            <li><a href="<%= motors_url %>">Electric Motors</a></li>
            <li><a href="<%= vfd_url %>">Variable Frequency Drives</a></li>
          </ul>
        </li>
        <li class="head <%= action_active? "about" %>"><a href="<%= about_url %>">ABOUT US</a></li>
        <li class="head <%= action_active? "contact" %>"><a href="<%= contact_url %>">CONTACT</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
    <div class="nav navbar-right">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<div class="clip-nav-wrapper visible-md-block visible-lg-block">
  <div class="clip-nav-box">
    <span class="call-now">24-hr Rush Service - Call <font style="font-size: 12pt;color: #f6cc7c;">866.708.1089</font></span>
  </div>
<div class="clip-nav-buffer"></div>
  <div class="clip-nav">
    <%= image_tag "clip-nav.png" %>
  </div>
</div>

<div class="bg-wrapper">
<div class="bg home"></div>
</div>

<div class="container">

<%= yield %>

</div>
<div class="linedivider-2"></div>
<div class="footer-wrapper">
<div class="footer">
  <div class="bg-wrapper">
    <div class="bg"></div>
    </div>
  <div class="container">
  <div class="row">
  <br>
  <br>
  <br>
  <div class="footer-text">
    <p>
    © 2016 Farrar Inc., Electric Motor Repair & Rewinding
    </p>
    <p>
Electro/Mechanical Services <span class="diamond">&#9670;</span> Rewinding <span class="diamond">&#9670;</span> Pumps <span class="diamond">&#9670;</span> Gearboxes <span class="diamond">&#9670;</span> Generators <span class="diamond">&#9670;</span> Servo Motor Repairs <span class="diamond">&#9670;</span> Variable Frequency Drives
</p>
We service the following Areas - New Hampshire, Massachusetts, Vermont, Maine, Connecticut, New York
  </p>
  </div>
  
  <div class="footer-text">

  </div>
  <div class="credit-cards">
    <%= image_tag("creditcardlogos.png") %>
  </div>
</div>
</div>
</div>
</div>

</body>
</html>
